.autbox
    width: 100%
    max-height: max-content
    display: flex
    flex-direction: column
    justify-content: space-between

    &__text
        height: 5rem
        padding: 1rem
    &__inputs
        height: 25rem
        display: flex
        flex-direction: column
        justify-content: space-evenly


