
.app
    font: $font-line-m
    padding: 2rem
    width: 100%
    height: 100vh
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
       


.light
    background: #a2c8ca
    color: $colorDark
    a
        color: $colorDark
    .active
        color: red

.dark
    background: #000
    color: $colorLight
    a
        color: $colorLight
    .active
        color: #194f74