
.app
    font: $font-line-m
    padding: 2rem
    width: 100%
    height: 100vh
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    margin: 0
       


.light
    background: #a2c8ca
    color: $colorDark
    transition: all 0.3s
    a
        color: $colorDark
    .active
        color: red

.dark
    background: #000
    color: $colorLight
    transition: all 0.3s
    a
        color: $colorLight
    .active
        color: #194f74
.ruby
    background: $COLMAIN
    color: $COLSECOND
    transition: all 0.3s
    a
        color: $COLSECOND
    .active
        color: #e00000