.sidebar
    padding: 0.5rem
    width: 20rem
    height: calc(100vh - 3rem - 5.7vh)
    position: absolute
    background: #00457e
    bottom: 0
    left: 0
    display: flex
    justify-content: flex-start
    transition: All 0.3s




.sidebarbox
    padding: 1rem
    width: 20rem
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    
    &__navbar
        display: flex
        flex-direction: column

    &__switch
        display: flex

.sidebardark
    background: #00131d
.sidebarruby
    background: $COLMAIN

.collaps
    left: -19rem
    transition: All 0.3s
.sidebtn
    position: absolute
    width: 90px
    height: 2.5rem  
    bottom: 29px
    right: -25px
    background: #00639c
    color: white
    transition: All 0.3s
.sidebarbtndark
    background: #002133
.sidebarbtnruby
    background: $COLACCENT
.sidebtn90
    transform: rotate(90deg)
    transition: All 0.3s
    right: -55px
