.artipage
    width: calc( 100% -  20rem)
    height: 88vh
    position: relative
    padding: 2rem
    display: flex
    justify-content: center
    right: 0
    background: $colorLight
    color: $colorMain
    &__header
        background: $colorLight
        width: max-content
        height: 7rem
        border-radius: 1rem
        position: absolute
        top: -5rem
        right: 11rem

    h1, h2, h3, a, p
        color: $colorDeepLight

.artipagedark
    background: $colorMain
    color: $colorLight
    &__header
        background: $colorMain

    h1, h2, h3, a, p
        color:  rgb(151, 170, 180)

.artipageruby
    background: $COLACCENT
    color: $COLSECOND
    &__header
        background: $COLACCENT

    h1, h2, h3, a, p
        color: $COLSECOND

