.header
    height: 7vh

    width: 100%
    display: flex
    background: #00000000
    border-radius: .7rem
    justify-content: space-between
    align-items: center 
.navbar
    display: flex
    flex-wrap: wrap
.switch
    display: flex
    align-items: center 

