.mainpage
    width: calc( 100% -  20rem)
    height: 88vh
    background: #d1c8a0
    position: relative
    padding: 2rem
    display: flex
    justify-content: flex-end
    right: 0
    &__header
        background: #d1c8a0
        width: max-content
        height: 7rem
        border-radius: 1rem
        position: absolute
        top: -5rem
        right: 11rem
.maindarks
    background: #042735
    &__header
        background: #042735
.mainh1dark
    color: #87ffdb
.ballwrapper
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
.testbox
    width: 20rem
    height: 20rem
    border-radius: 50%
    background: #000000c2
    position: absolute
    top: 0px
    left: 0px
    transform: translate(-50%, -50%)
    transition: All 0.3s
    text-align: center
    vertical-align: middle
    box-shadow: inset -10px -10px 100px #000, 10px 10px 120px black, inset 0px 0px 10px black
    display: inline-block
    margin: 5%